.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1; }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background: white; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }


    .number1
    {
      color : #FFFFFF;
      text-align : center;
      font-size : 20px;
      width : 7%;
      height : 5%;
      border : 1px solid white;
      border-radius : 10px;
      background-color : #FF9999;
    }
    .number2
    {
      color : #000000;
      text-align : center;
      font-size : 20px;
      width : 7%;
      height : 5%;
      border : 1px solid white;
      border-radius : 10px;
      background-color : #00FFFF;
    }
    .number3
    {
      color : #FFFFFF;
      text-align : center;
      font-size : 20px;
      width : 7%;
      height : 5%;
      border : 1px solid white;
      border-radius : 10px;
      background-color : #FF3300;
    }
    .number4
    {
      color : #FFFFFF;
      text-align : center;
      font-size : 20px;
      width : 7%;
      height : 5%;
      border : 1px solid white;
      border-radius : 10px;
      background-color : #6600CC;
    }
    .number5
    {
      color : #FFFFFF;
      font-size : 20px;
      text-align : center;
      width : 7%;
      height : 5%;
      border : 1px solid white;
      border-radius : 10px;
      background-color : #009933;
    }
    .number6
    {
      color : #FFFFFF;
      text-align : center;
      font-size : 20px;
      width : 7%;
      height : 5%;
      border : 1px solid white;
      border-radius : 10px;
      background-color : #FF9900;
    }
    .number7
    {
      color : #FFFFFF;
      font-size : 20px;
      text-align : center;
      width : 7%;
      height : 5%;
      border : 1px solid white;
      border-radius : 10px;
      background-color : #0066FF;
    }
    .destination
    {
      text-align : left;
      font-size : 20px;

    }
